*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
	max-width: 100%;
}

body{
    height: 100vh;
    background-color: #000000;
}

main{
    position: relative;
}

.container {
	max-width: 1444px;
	margin: 0 auto;
    padding: 82px 0px 30px;
}


/****account****/
.row{
    display: flex;
}

.col{
    flex-basis: calc(100% / 7);
    padding: 0 5px 15px 0;
}

col:last-child{
    padding-right: 0px;
}

/***image - text account ***/
.account{
    position:relative;
}

.name-account{
    color: white;
    background-color: #68737F;
    position: absolute;
    bottom: 4px;
    left: 0px;
}

/*****icon view*****/

.view{
    
    position: absolute;
    top: 10px;
    right: 5px;
}

button.icon{
    background-color: #68737F;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/***footer***/

footer{
    min-height:75px;
    background-color: #222222;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.row-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
}

.row-footer button{
    border: none;
}

button.option>i{
    font-size: 29px;
}

button.option>p{
    padding-top: 10px;
}

button.option{
    background-color: #222222;
    color: white;
    padding: 10px 18px;
    position: relative;
}

.option.share>i{
    color: #4BC800;
}

button.end{
    background-color: #4A4A4A;
    color:#E5233A;
    padding: 28px;
}

.arrow>p::before{
    content:'\005E';
    display: block;
    position: absolute;
    top: 20px;
    right: 4px;
    font-size: 20px;
}